<aside class="filters">
  <p-panel header="Categorias" [toggleable]="true"></p-panel>
  <p-panel header="Marcas" [toggleable]="true"></p-panel>
  <p-panel header="Especialidades" [toggleable]="true"></p-panel>
</aside>
<section class="main-content">
  <app-sale-item-preview-view></app-sale-item-preview-view>
  <app-sale-item-preview-view></app-sale-item-preview-view>
  <app-sale-item-preview-view></app-sale-item-preview-view>
  <app-sale-item-preview-view></app-sale-item-preview-view>
  <app-sale-item-preview-view></app-sale-item-preview-view>
  <app-sale-item-preview-view></app-sale-item-preview-view>
</section>
