@use "./header/header.theme" as header;
@use "./main-menu/main-menu-theme" as main-menu;
@use "/src/scss/config/variables/headers";
@use "/src/scss/config/variables/menus";
@use "/src/scss/config/variables/layers";

@mixin _private() {
  position: relative;

  .app-private-header-module {
    height: headers.$top-header;
    position: fixed;
    z-index: layers.$top-header-z-idx;
    inset: 0;
    border-block-end: 1px solid var(--surface-border);
  }

  .main-content-wrapper {

    margin-top: headers.$top-header;
    height: calc(100vh - #{headers.$top-header});
    overflow-y: auto;

    display: grid;
    grid-template-columns: max-content 0 1fr;

    .app-main-menu-module {
      position: sticky;
      top: 0;
      z-index: 500;
    }

    & > :nth-child(3) {
      padding: 2rem;
    }
  }

  .app-view-header-module ~ p-card .p-card {
    width: 99%;
    margin: 0 auto;
  }
}

@mixin themefy($theme) {
  .app-private-shell-module {
    @include _private();
    @include header.themefy();
    @include main-menu.themefy($theme);

    @at-root {
      body:has(.app-private-shell-module) {
        height: calc(100vh - #{headers.$top-header});
      }
    }
  }
}
