<app-view-header><button pButton (click)="newProduct()" icon="add"><i class="material-symbols-rounded">add</i></button></app-view-header>
<section class="products-area">
  <p-card>
    <section class="search-area">
      <div class="field p-inputgroup">
        <fa-icon icon="filter" class="p-inputgroup-addon"></fa-icon>
        <input type="text" pInputText placeholder="Filtrar produtos..." #searchField/>
      </div>
    </section>
    <section class="data-area">
      <app-product-list-item-view *ngFor="let p of publicProducts$ | async"></app-product-list-item-view>
    </section>
  </p-card>
</section>
