<h2 class="toolbar">Cadastro de Marcas</h2>
<section class="container">
  <div class="content-container">
    <form [formGroup]="brandsForm">
      <ul formArrayName="brands" class="list">
        <li class="list-item" [formGroupName]="idx" *ngFor="let frmGroup of brandsFormArray.controls; index as idx">
          <div class="input-field">
            <div class="control">
              <p>Nome</p>
              <input type="text" pInputText formControlName="name"/>
            </div>
            <small class="p-error block" *ngIf="getControl(idx)?.hasError('required')">Campo obrigatório</small>
            <small class="p-error block"
                   *ngIf="getControl(idx)?.hasError('emptyString') && !getControl(idx)?.hasError('required')">O nome não
              pode conter somente espaços</small>
          </div>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="removeBrand(idx)"></button>
        </li>
      </ul>
    </form>
    <button pButton label="Adicionar" (click)="newBrand()"></button>
  </div>
  <div class="controls">
    <button pButton class="p-button-danger" icon="fas xmark" (click)="closeDialog()" pTooltip="Sair" [hideDelay]="250" [showDelay]="500" tooltipPosition="top">
      <fa-icon icon="xmark"></fa-icon>
    </button>
    <button pButton class="p-button-success" icon="fas check" (click)="saveBrands()" pTooltip="Salvar" [hideDelay]="250" [showDelay]="500" tooltipPosition="top" [disabled]="!canSave()">
      <fa-icon icon="check"></fa-icon>
    </button>
  </div>
</section>
