@use "sass:map";
@use "@angular/material" as mat;
@use "/src/scss/utility/utilities" as utils;

@mixin _layout($theme) {
  height: 100%;
  @include utils.make-flex($direction: "column", $gap: "15px");

  .content-container {
    flex: 1 0;
    @include utils.make-flex($direction: "column", $gap: "15px");

    &,
    .mat-list,
    .mat-list form {
      overflow-y: auto;
    }

    .mat-list {
      flex: 1 0;

      form {
        height: 100%;
      }

      .mat-list-item {
        margin-top: 15px;
      }

      .mat-list-item-content {
        gap: 10px;
      }

      .p-button {
        $measure: 30px;
        width: $measure;
        height: $measure;
        min-width: $measure;
      }

      .input-field {
        flex: 1 0;

        input {
          width: 100%;
        }
      }
    }

    & > *:last-child {
      align-self: center;
    }
  }

  .controls {
    @include utils.make-flex($justContent: "flex-end", $gap: "10px");
  }
}

@mixin themefy($theme) {
  .app-brands-module {
    @include _layout($theme);
  }
}
