<header class="main-title">
  <h2>Produtos</h2>
  <button>
    <mat-icon>add</mat-icon>
    <span>Novo</span>
  </button>
</header>
<section class="products-area">
  <mat-card>
    <div class="content">
      <div class="search-area">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput (keyup)="filter($event)" placeholder="Filtrar productos..."/>
        </mat-form-field>
      </div>
      <mat-tab-group color="accent" backgroundColor="accent" dynamicHeight animationDuration="500ms" selectedIndex="0" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Produtos"><ng-template matTabContent><app-public-products-table-view [products]="publicProducts"></app-public-products-table-view></ng-template></mat-tab>
        <mat-tab label="Variantes"><ng-template matTabContent>Coming soon</ng-template></mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</section>
