@mixin themefy() {
  .app-public-header-module {
    display: grid;
    grid-template-rows: repeat(auto-fill, max-content);
    background: var(--surface-b);

    .row {
      &,
      .public-navigation .public-menu,
      .controls {
        display: flex;
        align-items: center;
      }

      justify-content: space-between;
      gap: 1rem;
      padding: 0 2rem;



      &.first {
        background: var(--surface-50);

        .left-content,
        .right-content,
        span {
          display: flex;
          align-items: center;
        }

        .left-content {
          gap: 2rem;
          color: var(--text-color-secondary);

          span {
            gap: .5rem;
          }
        }
      }

      &.second {
        .company-name {
          text-decoration: none;
          color: var(--primary-color);
          border-bottom-color: var(--primary-color);
          border-bottom-style: solid;

          &.active-link {
            border-bottom-width: 5px;
          }

          &:hover {
            border-bottom-width: 2.5px;
          }
        }

        .public-navigation .public-menu {
          li {
          }

          a {
            color: var(--primary-color);
            text-decoration: none;
            padding: .5rem .75rem;

            &:hover {
              border-bottom: 2px solid var(--primary-color);
            }

            &.active-link {
              border-bottom: 2.5px solid var(--primary-color);
            }
          }

        }

        .controls {
          gap: .5rem;
        }
      }

      &.third {
        padding: 2rem 6rem;
      }
    }
  }
}
