@mixin _private() {
  &,
  .navigation .menu {
    display: flex;
    align-items: center;
  }

  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--surface-b);

  .disclaimer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .navigation > .menu {
    justify-content: space-evenly;
    gap: .5rem;

    .img-container {
      background-color: var(--surface-d);
      padding: .5rem;
      width: 2.5rem;
      height: 2.5rem;

      &,
      img {
        border-radius: 50%;
      }
    }
  }
}

@mixin themefy() {
  .app-private-header-module {
    @include _private;
  }
}
