<section class="disclaimer">
  <button pButton icon="pi pi-bars" class="p-button-outlined" (click)="toggleHide()"></button>
  <h3>Inaluma MakeUp</h3>
</section>
<section class="navigation">
  <nav class="menu">
    <a href="#" class="img-container">
      <img src="assets/images/upload_image.svg" alt="user profile picture">
    </a>
    <a [routerLink]="cartAddress"><button pButton icon="pi pi-shopping-cart" class="p-button-rounded"></button></a>
    <a [routerLink]="publicShopAddress"><button pButton icon="pi pi-globe" class="p-button-rounded"></button></a>
  </nav>
</section>
