<aside [id]="menuParts.menu" class="main-menu-container">
  <!-- MENU NAVIGATION AREA -->
  <section [id]="menuParts.navSection" class="navs-section">
    <button class="menu-trigger" (click)="toggleHide($event)"><span  class="material-symbols-rounded">menu_open</span></button>
    <div class="menu-wrapper overlay-content">
      <ul class="main-menu-list">
        <!-- Dashboard -->
        <li class="mat-menu-item">
          <a>
            <span class="material-symbols-rounded ms-filled">dashboard</span>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- Despesas -->
        <li class="mat-menu-item">
          <div class="trigger">
            <div class="label-container">
              <span class="material-symbols-rounded">monetization_on</span>
              <span>Despesas</span>
            </div>
            <span class="material-symbols-rounded">arrow_drop_down</span>
          </div>
          <ul class="sub-menu-list">
            <li class="list-item">Agendamentos</li>
            <li class="list-item">Compras</li>
            <li class="list-item">Encomendas</li>
            <li class="list-item">Reembolsos</li>
          </ul>
        </li>
        <!-- Contactos -->
        <li class="mat-menu-item">
          <div class="trigger">
            <div class="label-container">
              <span class="material-symbols-rounded">group</span>
              <span>Utilizadores</span>
            </div>
            <span class="material-symbols-rounded">arrow_drop_down</span>
          </div>
          <ul class="sub-menu-list">
            <li class="list-item">Funcionários</li>
            <li class="list-item">Clientes</li>
          </ul>
        </li>
        <!-- Centro de Comentários -->
        <li class="list-item">
          <div class="trigger">
            <div class="label-container">
              <span  class="material-symbols-rounded">forum</span>
              <span>Centro de Comentários</span>
            </div>
            <span class="material-symbols-rounded">arrow_drop_down</span>
          </div>
          <ul class="sub-menu-list">
            <li class="list-item">Comentários</li>
            <li class="list-item">Resenhas</li>
            <li class="list-item">Testemunhos</li>
          </ul>
        </li>
        <!-- Utilitários -->
        <li class="list-item">
          <div class="trigger">
            <div class="label-container">
              <span class="material-symbols-rounded">construction</span>
              <span>Utilitários</span>
            </div>
            <span class="material-symbols-rounded">arrow_drop_down</span>
          </div>
          <ul class="sub-menu-list">
            <li class="list-item">Categorias</li>
            <li class="list-item">Sub-Categorias</li>
            <li class="list-item">Marcas</li>
            <li class="list-item">Tamanhos</li>
          </ul>
        </li>
        <!-- Relatórios -->
        <li class="list-item" [routerLink]="'a'">
          <span class="material-symbols-rounded">analytics</span>
          <span>Relatórios</span>
        </li>
        <!-- Galeria -->
        <li class="list-item">
          <a [routerLink]="'a'">
            <span class="material-symbols-rounded">gallery_thumbnail</span>
            <span>Galeria</span></a>
        </li>
        <!-- Configurações -->
        <li class="material-symbols-rounded">
          <a [routerLink]="'a'">
            <span class="material-symbols-rounded">settings</span>
            <span>Configurações</span></a>
        </li>
      </ul>
    </div>
    <div class="overlay" aria-hidden="true" tabindex="-1" (click)="toggleHide($event)"></div>
  </section>
  <!-- Button Toggle -->
  <section class="toggler-section"><button class="toggler" (click)="toggleShrink()"><span class="icon material-symbols-rounded ms-filled">line_end_arrow</span></button></section>
</aside>
