
@mixin themefy() {
  .app-view-header-module {
    position: sticky;
    top: 0;
    background-color: var(--surface-a);
    z-index: 1;
    display: block;
    height: fit-content;

    .breadcrumbs .p-breadcrumb {
      background-color: var(--surface-b);
    }

    .view-header {
      display: flex;
      justify-content: space-between;
      padding-block: 2rem;

      .view-title {
        margin: 0;
        text-align: center;
      }
    }
  }
}
