<div class="close-button-wrapper">
  <span class="company-name">Inaluma Make-Up</span>
  <button type="button" pButton icon="close" (click)="home()"><i class="material-symbols-rounded">close</i></button>
</div>
<div class="main-content">
  <p-card class="content">
    <section class="body-content">
      <div class="company-info">
        <div class="logo"><img src="/assets/images/carrinho_vazio.jpg"  class="circle responsive-img"/></div>
        <h1 class="title">Nova Conta</h1>
        <h3 class="hint">{{sectionTitle}}</h3>
      </div>
      <form [formGroup]="signUpForm" class="sign-up-form" #form>
        <section formGroupName="person" #formSection class="form-section" data-section-title="Dados Pessoais">
          <!-- Name -->
          <div class="form-control">
            <div class="field">
              <label for="name-form-field">Nome</label>
              <input type="text" id="name-form-field" pInputText formControlName="name">
            </div>
            <small class="p-error" *ngIf="getPersonControls('name').hasError('required')">Campo obrigatório</small>
          </div>
          <!-- Surname -->
          <div class="form-control">
            <div class="field">
              <label for="surname-form-field">Sobrenome</label>
              <input type="text" id="surname-form-field" pInputText formControlName="surname">
            </div>
            <small class="p-error" *ngIf="getPersonControls('surname').hasError('required')">Campo obrigatório</small>
          </div>
          <!-- Gender -->
          <section id="gender-section" formGroupName="gender">
            <div class="form-control" class="form-control">
              <label for="id-form-field">Gênero</label>
              <p-dropdown id="id-form-field" formControlName="id" [options]="genders" optionLabel="name" dataKey="id" placeholder="Escolha um gênero" optionValue="id" class="p-dropdown-sm"></p-dropdown>
              <small class="p-error" *ngIf="getGenderControls('id').hasError('required')">Campo obrigatório</small>
            </div>
          </section>
          <!-- Contact -->
          <div class="form-control">
            <div class="field">
              <label for="contact-form-field">Contacto</label>
              <input type="text" id="contact-form-field" pInputText formControlName="contact"/>
            </div>
            <small class="p-error" *ngIf="getPersonControls('contact').hasError('required')">Campo obrigatório</small>
          </div>
        </section>
        <section formGroupName="credentials" #formSection class="form-section" data-section-title="Credenciais">
          <!-- username -->
          <div class="form-control">
            <div class="field">
              <label for="username-form-field">Nome de Utilisador</label>
              <input type="text" id="username-form-field" pInputText formControlName="username">
            </div>
            <small class="p-error" *ngIf="getCredentialsControls('username').hasError('required')">Campo obrigatório</small>
            <small class="p-error" *ngIf="getCredentialsControls('username').hasError('minLength')">Insira no mínimo 4 caracteres</small>
            <small class="p-error" *ngIf="getCredentialsControls('username').hasError('usernameTaken')">Este nome de utilizador não está disponível</small>
          </div>
          <!-- password -->
          <div class="form-control">
            <div class="field">
              <label for="password-form-field">Senha</label>
              <p-password id="password-form-field" formControlName="password" weakLabel="Fraca" mediumLabel="Normal" strongLabel="Forte" [toggleMask]="true" [showClear]="true"></p-password>
            </div>
            <small class="p-error" *ngIf="getCredentialsControls('password').hasError('required')">Campo obrigatório</small>
            <small class="p-error" *ngIf="getCredentialsControls('password').hasError('minlength')">Insira no mínimo 6 caracteres</small>
            <small class="p-error" *ngIf="getCredentialsControls('password').hasError('emptyString')">Senha vazia</small>
            <small class="p-error" *ngIf="getCredentialsControls('password').hasError('usernameTaken')">Indisponível</small>
          </div>
          <!-- confirm password -->
          <div class="form-control">
            <div class="field">
              <label for="confirm_password-form-field">Confirmar Senha</label>
              <p-password id="confirm_password-form-field" formControlName="confirm_password" weakLabel="Fraca" mediumLabel="Normal" strongLabel="Forte" [toggleMask]="true" [showClear]="true"></p-password>
            </div>
            <small class="p-error" *ngIf="getCredentialsControls('confirm_password').hasError('fieldsMismatch')">As senhas são diferentes</small>
          </div>
        </section>
        <section formArrayName="securityQuestions" #formSection class="form-section" data-section-title="Perguntas de Segurança">
          <ng-container *ngFor="let ctrl of getSecurityQuestions().controls; index as idx">
            <ng-container [formGroupName]="idx">
              <!-- Question -->
              <div class="form-control">
                <div class="field">
                  <label for="question-form-field-{{idx}}">Pergunta</label>
                  <input type="text" id="question-form-field-{{idx}}" pInputText formControlName="question"/>
                </div>
                <small class="p-error" *ngIf="getSecurityQuestion(idx,'question').hasError('required')">Campo obrigatório</small>
                <small class="p-error" *ngIf="getSecurityQuestion(idx,'question').hasError('minlength')">Um mínimo de 6 caracteres é necessário</small>
              </div>
              <!-- Answer -->
              <div class="form-control">
                <div class="field">
                  <label for="answer-form-field-{{idx}}">Resposta</label>
                  <input id="answer-form-field-{{idx}}" type="text" pInputText formControlName="answer"/>
                </div>
                <small class="p-error" *ngIf="getSecurityQuestion(idx, 'answer').hasError('required')">Campo obrigatório</small>
              </div>
            </ng-container>
          </ng-container>
        </section>
      </form>
    </section>
    <section class="footer-content">
      <button pButton label="Iniciar Sessão" (click)="signIn()"></button>
      <div class="controls p-buttonset">
        <button pButton class="p-button-warning" (click)="previousSection()" *ngIf="!hidePrevious">Voltar</button>
        <button pButton (click)="nextSection()" *ngIf="hideFinish">Avançar</button>
        <button pButton *ngIf="!hideFinish" (click)="signUp()">Concluir</button>
      </div>
    </section>
  </p-card>
</div>
