<section class="img-container"><img src="assets/images/no_image.svg"/></section>
<section class="details-section">
  <p class="line">
    <span>Nome do Produto</span>
  </p>
  <p class="line">
    <span>
      <i class="material-symbols-rounded"></i>
    </span>
  </p>
  <p class="line">
    <span>Código</span>
    <span>Preço promocional</span>
  </p>
</section>
<div class="on-sale-tag">-20%</div>
<p-speedDial [model]="menuModel" type="linear" direction="down" showIcon="pi pi-bars" hideIcon="pi pi-times"></p-speedDial>
<p-confirmDialog header="Eliminar Produto" icon="pi pi-exclamation-triangle" acceptButtonStyleClass="accept"
                 rejectButtonStyleClass="reject" rejectLabel="Cancelar" acceptLabel="Eliminar"></p-confirmDialog>
