@charset "UTF-8";

@use '/src/scss/utility/utilities' as utils;
@use './header/header-theme';
@use './footer/footer-theme';
@use '/src/scss/config/variables/headers';

@mixin _layout($theme) {
  @include utils.make-flex($direction: 'column', $justContent: 'space-between');
  box-sizing: border-box;
  height: inherit;
  width: 100%;

  .content-body {
    @include utils.make-flex();
    margin-top: headers.$top-header;
    height: calc(100vh - headers.$top-header);
    flex: 1 0;

    .main-content {
      flex: 1 0;
      overflow-y: auto;
    }
  }
}

@mixin themefy($theme) {
  .app-global-layout-module {
    @include _layout($theme);
    @include header-theme.theme($theme);
    @include footer-theme.theme($theme);
  }
}
