<mat-nav-list>
  <!-- DASHBOARD -->
  <a mat-list-item [routerLink]="routes.home" [routerLinkActive]="activeLinkClasses.child" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
  <!-- PRODUCTS -->
  <a mat-list-item [routerLink]="routes.products" [routerLinkActive]="activeLinkClasses.child" [routerLinkActiveOptions]="{exact: true}">Produtos</a>
  <!-- SERVICES -->
  <a mat-list-item [routerLink]="routes.services" [routerLinkActive]="activeLinkClasses.child" [routerLinkActiveOptions]="{exact: true}">Serviços</a>
</mat-nav-list>
