@use 'sass:map';
@use '../variables/variables' as vars;
@use '../variables/classes';
@use '../variables/layers';
@use '../../utility/utilities' as utils;

*::before, *::after {
  box-sizing: inherit;
}

body, html {
  height: 100vh;
  min-width: vars.$media-sm;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  z-index: layers.$overlay-z-idx;
  inset: 0;
  width: 100vw;
  display: none;
}

.no-scroll {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;

  &.responsive-img {
    height: auto;
  }

  &.circle {
    border-radius: 50%;
  }
}

#{classes.$show-item} .overlay-content {
  position: absolute;
  z-index: layers.$overlay-content-z-idx;
}

#{classes.$show-item},
#{classes.$show-item} .overlay {
  display: block;
  visibility: visible;
  opacity: 1;
}

#{classes.$hide-item} {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.ms-filled,
*.ms-filled,
* .ms-filled {
  font-variation-settings: 'FILL' 1;
}

input {
  width: 100%;
}

::placeholder,
*::placeholder,
* ::placeholder,
input::placeholder {
  display: block;
  position: relative;
  top: 0;
}

.p-card .p-card-content {
  padding: 0;
}

.p-float-label > label {
  opacity: .5;
}

.p-float-label input:focus ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-filled ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  opacity: 1;
}

.material-symbols-rounded,
*.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 48;
}

@mixin themefy($theme) {
  .rst-frm-fld {
    @include utils.reset-form-field($theme);
  }
}

.p-card {
  background-color: var(--surface-b);
  padding: 1.5rem;
}

.p-inputtext {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}
