@use 'sass:map';
@use '/src/scss/utility/utilities' as utils;
@use './service-list-item/service-list-item-theme' as item-theme;

@mixin _layout($theme) {
  padding: 0 2rem;

  .services-area .p-card-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2.5rem;

    .data-area {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      gap: 2rem;
    }
  }
}

@mixin themefy($theme) {
  .app-service-list-module {
    @include _layout($theme);
    @include item-theme.themefy();
  }
}
