@charset "UTF-8";

@use "/src/scss/utility/utilities" as utils;
@use '/src/scss/config/variables/headers';
@use '/src/scss/config/variables/menus';
@use '/src/scss/config/variables/layers';
@use '/src/scss/config/variables/classes';

@mixin _layout($theme) {
  $gap: 1rem;
  $padding: 2rem;
  height: calc(100vh - #{headers.$top-header});
  overflow-y: auto;

  .main-menu-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
  }

  .navs-section {
    flex: 1 0;
    overflow-y: auto;

    .menu-trigger,
    .overlay {
      display: none;
    }

    .main-menu-list {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: flex-start;
      list-style: none;

      .list-item {
        a {
          width: 100%;
          height: 100%;
          padding: $padding;
          text-decoration: none;
          color: var(--text-color);
          background-color: var(--surface-b);
          cursor: pointer;

          display: flex;
          gap: 1rem;
          align-items: center;

          &:hover {
            background-color: var(--surface-c);
          }
        }

        .trigger {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 5rem;
          padding: $padding;
          cursor: pointer;
          background-color: var(--surface-b);

          .label-container {
            display: flex;
            align-items: center;
            gap: $gap;
          }

          * {
            pointer-events: none;
          }
        }

        .sub-menu-list {
          transition: height .2s cubic-bezier(.4,0,.2,1);
          overflow: hidden;
          height: 0;

          .list-item {
            width: 100%;
          }

          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: center;

          a span:not(.material-symbols-rounded) {
            margin-left: calc($padding * 1.3);
          }
        }
      }

      & > .list-item {
        border-inline-end: 1px solid var(--surface-border)
      }

      .expanded {
        .trigger .material-symbols-rounded:last-child {
          transform: rotate(180deg);
        }

        .sub-menu-list {
          transition: height .2s cubic-bezier(.4,0,.2,1);
          height: 100%;

          .list-item {
            position: relative;

            a::before {
              //content: "\205C";
              //content: "\2042";
              content: "\203B";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .trigger {
          border-block-end: 1px solid var(--surface-border);
        }

        .list-item:not(:last-child) {
          border-bottom: 1px solid var(--surface-border);
        }
      }

      .active {
        border: 1px solid var(--surface-border);
        border-right: none;

        &,
        .trigger,
        .active-link {
          background-color: var(--surface-a);
        }

        &.expanded,
        &.expanded .trigger {
          background-color: var(--surface-b);
        }
      }
    }
  }

  .toggler-section {
    background-color: var(--surface-d);
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@mixin themefy($theme) {
  .app-main-menu-module {
    @include _layout($theme);
  }
}
