@charset "UTF-8";

@use "/src/scss/utility/utilities" as utils;
@use '/src/scss/config/variables/headers';
@use '/src/scss/config/variables/menus';
@use '/src/scss/config/variables/layers';
@use '/src/scss/config/variables/classes';

@mixin _layout($theme) {
  $gap: 1rem;
  $padding: 2rem;
  height: calc(100vh - #{headers.$top-header});
  overflow-y: auto;

  .main-menu-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
    width: menus.$main-menu;
    overflow-y: auto;
  }

  .main-menu-container,
  .main-menu-list > .list-item,
  .main-menu-list > .list-item .sub-menu-list,
  .toggler-section,
  .toggler-section .p-button {
    transition: all .4s cubic-bezier(.25,.8,.25,1);
  }

  .navs-section {
    flex: 1 0;
    overflow-y: auto;

    .menu-trigger,
    .overlay {
      display: none;
    }

    .main-menu-list {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: flex-start;
      list-style: none;

      .list-item {
        color: var(--text-color);

        a:hover,
        .trigger:hover {
          background-color: var(--surface-c);
        }

        //&,
        //.sub-menu-list {
        //  transition: all 1s cubic-bezier(.4,0,.2,1);
        //}

        a {
          width: 100%;
          height: 100%;
          padding: $padding;
          text-decoration: none;
          color: var(--text-color);
          background-color: var(--surface-b);
          cursor: pointer;

          display: flex;
          gap: 1rem;
          align-items: center;
        }

        .trigger {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 5rem;
          padding: $padding;
          cursor: pointer;
          background-color: var(--surface-b);

          .label-container {
            display: flex;
            align-items: center;
            gap: $gap;
          }

          * {
            pointer-events: none;
          }
        }

        .sub-menu-list {
          overflow: hidden;
          height: 0;

          .list-item {
            width: 100%;
          }

          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: center;

          a span:not(.material-symbols-rounded) {
            margin-left: calc($padding * 1.3);
          }
        }
      }

      & > .list-item {
        border-inline-end: 1px solid var(--surface-border);
        position: relative;
      }

      .expanded {
        .trigger .material-symbols-rounded:last-child {
          transform: rotate(180deg);
        }

        .sub-menu-list {
          height: 100%;

          .list-item {
            position: relative;

            a::before {
              //content: "\205C";
              //content: "\2042";
              content: "\203B";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .trigger {
          border-block-end: 1px solid var(--surface-border);
        }

        .list-item:not(:last-child) {
          border-bottom: 1px solid var(--surface-border);
        }
      }

      .active {
        border: 1px solid var(--surface-border);
        border-right: none;

        &,
        .trigger,
        .active-link {
          background-color: var(--surface-a);
        }

        &.expanded,
        &.expanded .trigger {
          background-color: var(--surface-b);
        }
      }
    }
  }

  .toggler-section {
    background-color: var(--surface-d);
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-menu-container#{classes.$shrink-item} {
    width: #{menus.$main-menu-sm};

    .main-menu-list {
      & > .list-item {
        display: flex;
        align-items: center;
        justify-content: center;

        .trigger {
          width: 100%;
          justify-content: center;
        }

        a {
          justify-content: center;
        }

        span {
          display: none;
        }

        .material-symbols-rounded:last-child {
          display: none;
        }
      }

      .sub-menu-list {
        display: none;
      }
    }

    .expanded {
      .sub-menu-list {
        position: absolute;
        z-index: layers.$overlay-z-idx;
        height: 100%;
        left: 100%;
        top: 0;
        overflow: auto;

        &,
        span {
          display: block;
        }

        a::before {
          display: none;
        }
      }
    }

    .toggler-section {
      &,
      .p-button {
        padding: 0;
      }
      .p-button {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .material-symbols-rounded {
        transform: rotate(180deg);
      }
    }
  }

  .main-menu-container#{classes.$hide-item} {
    width: 0;
    overflow: hidden;
  }
}

@mixin themefy($theme) {
  .app-main-menu-module {
    @include _layout($theme);
  }
}
