@charset "UTF-8";

@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/scss/utility/utilities' as utils;
@use '/src/scss/config/variables/headers';
@use '/src/scss/config/variables/layers';


@mixin _layout($theme) {
  position: fixed;
  z-index: layers.$top-header-z-idx;
  inset: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid gray;
  height: headers.$top-header;

  &,
  .left-content,
  .right-content{
    @include utils.make-flex($justContent: 'space-between');
  }

  .left-content,
  .right-content {
    gap: 10px;
    align-items: center;
  }

  .left-content {
    .logo {
      @include utils.make-square(54px);
    }

    .name h2 {
      margin: 0;
      padding: 0;
      font-size: 2rem;
    }
  }

  .right-content {
    .mat-icon-button {
      @include utils.make-square(50px);

      .mat-button-wrapper {
        @include utils.make-square(100%);
        .mat-icon {
          @include utils.center-all();
          width: 30px;
          font-size: 30px;
        }
      }
    }

    .mat-slide-toggle-content {
      height: 100%;
    }
  }
}

@mixin theme($theme) {
  .app-header-module {
    @include _layout($theme);
  }
}
