@charset "UTF-8";

@use '../config/theme' as theme;
@use '../config/variables/variables' as vars;

$_theme:();
.#{vars.$light-mode-class} {
  color-scheme: only light!important;
  @include theme.theme($_theme);
}

$_theme:();
.#{vars.$dark-mode-class} {
  @include theme.theme($_theme);
  color-scheme: dark!important;
  background-color: var(--surface-a);
}
