@charset "UTF-8";

@use "/src/scss/utility/utilities" as utils;
@use '/src/scss/config/variables/private/menus';
@use '/src/scss/config/variables/global/layers';
@use '/src/scss/config/variables/global/classes';

@mixin _layout($theme) {
  @include utils.make-flex($direction: "column", $justContent: "space-between");
  width: menus.$main-menu;
  height: 100vh;
  margin-right: 1px;
  border-right: 1px solid gray;

  .logo-section {
    box-sizing: border-box;
    height: menus.$brand-section;
    padding: 10px;
    @include utils.make-flex($gap: '10px', $justContent: 'space-between');

    & > * {
      height: 100%;
    }

    .logo {
      width: 60px;
    }

    .name {
      flex: 1 0;
      position: relative;

      & > :first-child {
        margin: 0;
        position: absolute;
        top: 50%; // sends the box to the end of it's container
        transform: translateY(-50%); // brings the box to the center of it's container
      }
    }
  }

  .navs-section {
    flex: 1 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    .menu-trigger {
      display: none;
    }

    .mat-list-base {
      padding-top: 0;
    }

    .mat-list-item:not(:last-of-type) {
      border-bottom: 1px solid gray;
    }
  }

  .toggler-section {
    @include utils.make-flex($justContent: "flex-end", $alignItems: "center");
    box-sizing: border-box;
    height: 50px;
    padding-right: 10px;

    .icon {
      transform: rotate(180deg);
    }
  }

  &#{classes.$shrink-item} {
    width: menus.$main-menu-sm;
    margin-right: 0;
    border-right: none;

    .logo-section {
      .name {
        display: none;
      }
    }

    .navs-section {
      .menu-trigger {
        display: block;
        margin: 10px auto 0;
        transform: rotate(180deg);
      }

      .menu-wrapper {
        left: calc(100% + 1px);
      }

      .menu-wrapper {
        background-color: #303030;
        width: menus.$main-menu;
        border-right: 1px solid gray;
        display: none;
      }

      &#{classes.$show-item} {
        .menu-trigger {
          transform: none;
        }

        .menu-wrapper {
          display: block;
        }

        .menu-wrapper {
          top: 0;
          bottom: 0;
        }
      }
    }

    .toggler-section {
      justify-content: stretch;
      align-items: stretch;
      padding: 0;

      .toggler {
        width: 100%;

        .icon {
          transform: none;
        }
      }
    }
  }
}

@mixin theme($theme) {
  .app-main-menu-module {
    @include _layout($theme);
  }
}
