<aside [id]="menuParts.menu" class="app-main-menu-module">
  <!-- LOGO -->
  <section class="logo-section">
    <div class="logo"><img src="/assets/images/carrinho_vazio.jpg"  class="circle responsive-img"/></div>
    <div class="name"><h2>Inaluma Make-Up</h2></div>
  </section>
  <!-- MENU NAVIGATION AREA -->
  <section [id]="menuParts.navSection" class="navs-section">
    <button mat-flat-button class="menu-trigger" (click)="toggleHide($event)"><mat-icon>menu_open</mat-icon></button>
    <div class="menu-wrapper overlay-content"><app-admin-main-menu></app-admin-main-menu></div>
    <div class="overlay" aria-hidden="true" tabindex="-1" (click)="toggleHide($event)"></div>
  </section>
  <!-- Button Toggle -->
  <section class="toggler-section"><button mat-flat-button class="toggler" (click)="toggleShrink()"><mat-icon class="icon ms-filled">line_end_arrow</mat-icon></button></section>
</aside>
