@use "sass:map";
@use "@angular/material" as mat;
@use "/src/scss/utility/utilities" as utils;

@use "./product-list/product-list.theme" as list;
@use "./product-form/product-form.theme" as form;
@use "./product-preview/product-preview.theme" as preview;

@mixin _layout($theme) {

}

@mixin themefy($theme) {
  @include _layout($theme);
  @include list.themefy($theme);
  @include form.themefy($theme);
  @include preview.themefy($theme);
}
