@use "/src/scss/config/variables/headers";

@mixin _layout($theme) {
  padding: 0 2rem;
  overflow-y: auto;
  $gap: 1.5rem;

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 25rem;
    grid-gap: $gap;
    overflow-y: auto;
    max-height: fit-content;
  }

  .products {
    position: sticky;
    top: headers.$top-header;
    height: fit-content;
  }

  .products form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: $gap;

    .top-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: $gap;

      .img-container {
        width: 25rem;
        position: relative;

        .select-file-btn {
          position: absolute;
          top: 1.2rem;
          right: 1.5rem;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          display: none;
        }

        &:hover .select-file-btn {
          display: flex;
        }
      }
    }

    .form-fields {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-gap: $gap;
    }
  }

  .products-variants {
    min-width: 20rem;
  }

  .products-variants form,
  .products-variants form .variants-list,
  .variants-list .variant-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: $gap;
  }

  .products-variants form,
  .variants-list .variant-wrapper {
    gap: 0;
  }

  .variants-list .variant-wrapper .fields-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .line {
      display: grid;
      grid-gap: 1.5rem;

      &:first-of-type {
        padding-bottom: 1.5rem;
        grid-template-columns: 1fr 2rem;
      }

      &:last-of-type {
        grid-template-columns: 5rem 1fr;
      }
    }

    & > :last-child {
      width: 4rem;
    }
  }

  .field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }

  .field .control {
    height: 100%;
    flex: 1 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    & > :first-child {
      text-transform: uppercase;
    }

    & > :last-child {
      flex: 1 0;
    }

    .p-dropdown {
      height: 100%;
      width: 100%;
      align-items: center;

      .p-dropdown-label {
        height: fit-content;
      }
    }
  }

  .field.multi-column {
    gap: 1rem;
    align-items: center;
  }
}

@mixin themefy($theme) {
  .app-public-products-form-module {
    @include _layout($theme);
  }
}
