<div class="details-wrapper">
  <section class="img-container"></section>
  <section class="product-info">
    <div class="header">
      <p class="brand-name">Brand</p>
      <p class="product-name">Product Name</p>
    </div>
    <div class="controls">
      <mat-form-field appearance="outline">
        <button mat-icon-button matPrefix><mat-icon>less</mat-icon></button>
        <input type="number" min="1" matInput>
        <button mat-icon-button matSuffix><mat-icon>less</mat-icon></button>
      </mat-form-field>
      <button mat-flat-button>
        <mat-icon>cart_add</mat-icon>
        <span>Adicionar Ao Carrinho</span>
      </button>
    </div>
  </section>
</div>
