@mixin themefy() {
  .sale-item-preview-module {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    .details,
    .img-container {
      width: 15rem;
    }

    .img-container {
      background-color: var(--surface-500);
      height: 16rem;
    }

    .details {
      &,
      .lines {
        display: flex;
        flex-flow: column nowrap;
      }

      gap: 20px;
      border: 1px solid var(--surface-border);
      border-top: none;
      padding-block: 10px;

      .lines {
        align-items: center;
        gap: .4rem;

        .line:nth-child(1) {
          color: var(--text-color-secondary);
          font-size: 10pt;
        }
      }
    }

    .controls-wrapper {
      visibility: hidden;
      position: absolute;
      top: .75rem;
      right: .75rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      transition: visibility .5s cubic-bezier(.25,.8,.25,1);

      .p-button {
        width: 1rem;
        height: 2rem;
      }
    }

    &:hover .controls-wrapper {
      visibility: visible;
    }
  }
}
