<section class="img-container"><img [src]="img?.url" [alt]="'imagem do ' + itemName"/></section>
<section class="details">
  <div class="lines">
    <p class="line"><small>{{smallText}}</small></p>
    <p class="line"><span>{{item.name}}</span></p>
    <p class="line"><span>Kz {{price | number:"1.0-2"}}</span></p>
  </div>
</section>
<div class="controls-wrapper">
  <button pButton icon="pi pi-info" class="p-button-sm p-button-secondary p-button-rounded" (click)="showDetails()"></button>
  <button pButton icon="pi pi-cart-plus" class="p-button-sm p-button-success p-button-rounded"></button>
</div>
