@charset "UTF-8";

@use '/src/app/private/private-theme' as private;
@use '/src/app/public/public-theme' as public;

// applies theme configurations to all custom components
@mixin themefy($theme) {
  @include private.theme($theme);
  @include public.theme($theme);
}
