@import 'material-symbols'; // material symbol icons
@import "font-awesome/scss/font-awesome";
@import "primeicons/primeicons";

// PrimeNg
@import "primeng/resources/primeng.min";
//@import "primeng/resources/themes/md-dark-deeppurple/theme";
//@import "primeng/resources/themes/md-dark-indigo/theme.css";
// ---------------- // LARA // ---------------- //
//@import "primeng/resources/themes/lara-light-indigo/theme";
//@import "primeng/resources/themes/lara-dark-indigo/theme";
//@import "primeng/resources/themes/lara-light-purple/theme";
//@import "primeng/resources/themes/lara-dark-purple/theme";
//@import "primeng/resources/themes/lara-light-blue/theme";
//@import "primeng/resources/themes/lara-dark-blue/theme";
//@import "primeng/resources/themes/lara-light-teal/theme";
//@import "primeng/resources/themes/lara-dark-teal/theme";

// ---------------- // VELA // ---------------- //
@import "primeng/resources/themes/vela-blue/theme";
//@import "primeng/resources/themes/vela-green/theme";
//@import "primeng/resources/themes/vela-orange/theme";
//@import "primeng/resources/themes/vela-purple/theme";
